@charset "UTF-8";

#registForm{
	width: 500px;
	height: 600px;
	border: 1px solid red;
	margin: auto;
}

h2 {
	text-align: center;
}

h4 {
	text-align: center;
}

table {
	margin: auto;
	width: 40%;
	height: 50%;
	text-align: center;
	border-collapse: collapse;
}

td {
	border: 1px solid #d9d9d9;
}

span {
	color: red;
}
#tr_top {
	border-top: 2px solid red;
	border-bottom: 2px solid red;
	background: #f2f2f2;
	text-align: center;
}

#pageList {
	margin: auto;
	width: 500px;
	text-align: center;
}

#emptyArea {
	margin: auto;
	width: 500px;
	text-align: center;
}